/* A square in the middle of the screen,
where the spinner will be. */

.center {
    margin: auto;
    width: 50%;

    /*margin: 0;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* gradient filled circle */
.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.activeCircle {
  transition: all 0.4s ease-out;
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);


}

.inactive {
  transition: all 0.4s ease-out;
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #E4E4E1;
 background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
  background-blend-mode: normal, multiply;
  transition: background-image 0.2s ease,
              width 0.8s linear,
              height 0.8s linear;
}


.pulsating_ring {


    z-index: -1;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0.3;
    background-color:#2cacd1;
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.1; -webkit-transform: scale(0.8, 0.8);transform: translate(-50%, -50%);height: 220px; width: 220px;}
    /*50% {opacity: 0.5; transform: translate(-50%, -50%);height: 250px; width: 250px;}*/
    100% {opacity: 0.5; -webkit-transform: scale(1.2, 1.2); transform: translate(-50%, -50%);height: 290px; width: 290px;}
}


.background {
  z-index: -2;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}