.fullpagewidth {
	margin: 0 auto;
	width: 98%;
}

.pre-scrollable {
	max-height: none;
}

.container, .row {
	height: inherit;
	/*padding: 10px;	*/
	/*position: absolute;*/
}

.freezeNavbar {
	position:fixed;
	height:130px;
	width:100%;
	overflow: auto;
	background-color: #C0C0C0;
	margin: 0;
	padding: 20px;
    padding: 0;
    top: 0;
    z-index: 1;
    padding-left: 20px;
}

.offsetTop {
	margin-top:130px;
	padding-bottom: 50px;
	padding-top: 20px;
}

#customtext {
	width: 300px;
	height: 50px;
}